/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Karla', sans-serif; */
body{
  padding:0;
  margin:0;
}
.headerMenu,.footerSocial{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:30px 120px;
}

.logo{
  height:20px;
  width:auto;
}
ul{
  padding:0;
  margin:0;
}

li{
  display: inline-block;
  margin-right: 20px;
}

a,span{
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-size:13px;
  color: grey;
}

a:hover{
  color:black;
  font-weight: 700;
}

button,.button{
  background-color: transparent;
  border:1px solid black;
  padding:8px 25px;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size:13;
  color:black;
  cursor:pointer;
}

button:hover{
  background-color: black;
  color:white;
}

.button:hover{
  background-color: white;
  color:black;
}

.button{
  border:1px solid white;
  color:white;
}

.firstBox{
  padding:100px 120px;
  background-color: hsl(256, 26%, 20%);
  position:relative;
}

.content,.image{
  width:50%;
  margin-top:100px;
}


.image{
  position:absolute;
  top:0;
  right:0px;
  overflow: hidden;
}

.intro{overflow: hidden;}

.patternRight{
  position: absolute;
  right:0;
  top:93px;
  z-index: 30;
  overflow: hidden;
}

.patternOne{
  margin-top:-85px;
  overflow: hidden;
}

.patternLeft{
  position: absolute;
  left:-20px;
  top:600px;
  z-index: 30;
  overflow: hidden;
}

.line{
  width:130px;
  border:1px solid white;
}

h1{
  font-family: 'DM Serif Display', serif;
  font-size:400%;
  color:white;
  padding:0;
  margin:0;
  font-weight: 400;
}

p{
  font-family: 'Karla', sans-serif;
  color:white;
  font-weight: 400;
  margin-bottom:40px;
  line-height: 25px;
  font-size:15px;
}

.secondBox{
  padding:300px 120px 0 120px;
}

.grey{
  border:1px solid grey;
  margin-bottom:40px;
}

.we{
  color:black;
}

.description{
  color:grey;
  font-size:13px;
}

.moreBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.miniBlock{
  margin-right:30px;
  margin-top:80px;
}

h3{
  font-family: 'DM Serif Display', serif;
  font-size:23px;
  margin-top:20px;
}

.thirdBox{
  padding: 100px 120px 100px 120px;
}

.findOut{
  background-color: hsl(256, 26%, 20%);
  position: relative;
}

.patternViolet{
  position: absolute;
  right:0;
  top:0;
  overflow: hidden;
  height: 100%;
}

.text{
  font-size: 50px;
  width:50%;
}

.work{
  position:relative;
  padding:60px;
}

.inline{
  position: absolute;
  right:150px;
  top:130px;
}

.social{height:15px;}

.footerSocial{
  border-bottom: 1px solid grey;
}

.fourthBox{
  position: relative;
  background-color:hsl(0, 0%, 98%);
  padding-bottom: 70px;
}

.finalMenu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top:70px;
}

.block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.listFinal{
  display: block;
  margin-right:0;
  margin-bottom:8px;
}


span{margin-bottom:30px;}

.black{color:black;}

.black:hover{
  text-decoration: underline;
}

.patternFooter{
  position: absolute;
  top:0;
  left:0;
}

.menu-toggle{
  visibility: hidden;
  position: static;
  cursor:pointer;
}

.toggle{
  background: transparent;
  border:none;
  float: right;
  position: absolute;
  top:20px;
  right:0px;
  z-index: 20;
}

.toggle:hover{
  background-color: transparent;
}

.panelToggle{
  background-color:hsl(270, 9%, 17%);
  padding:30px 0px 360px 0px;
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  top:80px;
  text-align: center;
  z-index: 3000;
}

.panelHamburger{
  background-color: hsl(270, 9%, 17%);
  border-radius: 10px;
  padding:10px;
}

.linkHamb{
  display: block;
  margin-bottom:30px;
  margin-right:0;
}

.link{
  font-size: 20px;
  color:white;
}

.hamburgerB{
  border:1px solid white;
  color:white;
  padding:15px;
  width:250px;
}

@media screen and (max-width:991px){

  .headerMenu,.footerSocial{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:30px 40px;
  }

  .secondBox{
    text-align:center;
    padding:200px 60px 0 60px;
  }

  .moreBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .thirdBox{
    padding: 80px 30px 100px 30px;
  }

  .text{
    width:100%;
  }

  .work{
    padding:40px;
    text-align: center;
    position: inherit;
  }

  .inline{
    position:sticky;
    margin-bottom:50px;
    margin-top:50px;
    right:0;
  }

  .finalMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:70px;
  }

  .footerSocial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 120px;
    align-items: center;
  }

  .firstUl{display: none;}

  ul{
    text-align: center;
    margin-top:30px;
  }

  .firstBox{
    padding:700px 40px 100px 40px;
  }

  .content{
    width:100%;
    margin-top:30px;
    text-align: center;
  }

  .image{
    width:100%;
  }

  .image {
    position: absolute;
    top: -100px;
    right: 0px;
    overflow: hidden;
    text-align: center;
    z-index:30;
  }

  .block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-bottom:30px;
  }

  span{margin-bottom:0;}

  .menu-toggle{
    visibility: visible;
  }

  .patternRight{
    display: none;
  }

  .content{
    text-align: center;
  }

  .firstBlack{display: none;}

  .patternLeft{
    position: absolute;
    left:-20px;
    top:400px;
    z-index: 30;
    overflow: hidden;
  }

  .patternViolet{
    width: 80%;
    height:100%;
  }

  .patternFooter{display: none;}

  .miniBlock{
    margin-right:0;
  }

  .end{margin-right:0;}
}
